/*
DROPZONE
*/

@import "./variables";

.DropZone {
  margin-bottom: $pad-mar-med;
  border: 2px dashed #ddd;
  border-radius: 5px;
  color: #ddd;
  height: 310px;
  margin-top: 2px;
  min-height: 100px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 100%;

  .Btn {
    background-color: $green;
    border: 0;
    bottom: $pad-mar-small;
    color: $white;
    margin-top: $pad-mar-small;
    position: absolute;
    right: $pad-mar-small;
  }

  &-preview-container {
    display: flex;
    flex-wrap: wrap;
  }

  &-preview {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-upload-name {
    color: $dark-gray;
    display: block;
    margin-top: $pad-mar-x-small;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
  }
  &-upload-file {
    height: auto;
    margin: 0 auto;
    max-height: 150px;
    max-width: 200px;
    min-height: 100px;
    min-width: 100px;
    object-fit: contain;
    overflow: hidden;
  }
}
