/*
TOGGLE SWITCH
=============
aka a checkbox that looks like a switch
*/

@import './variables';

$active-color: #F2A900;
$disabled-color: #ddd;
$toggle-height: 25px;

.toggle-switch {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-weight: 400;
  outline: none;
  position: relative;
  user-select: none;

  & > div {
    height: $toggle-height;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.active {
    .toggle-switch-label {
      background-color: $active-color;
      color: $white;
      justify-content: flex-start;
    }
  }
}

.toggle-switch-input {
  position: absolute;
  right: 10px;
  top: 2px;
  z-index: -1;
}

.toggle-switch-label {
  align-items: center;
  background-color: $disabled-color;
  border-radius: 50px;
  display: inline-flex;
  font-size: 0.8em;
  height: calc(#{$toggle-height} + 2px);
  justify-content: flex-end;
  margin-left: 5px;
  padding: 2px;
  width: calc(#{$toggle-height} * 2.5);
  z-index: 1;
}

.toggle-switch-handle {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: $toggle-height;
  margin-left: calc(#{$toggle-height} * -2.5);
  margin-top: 2px;
  position: absolute;
  transition: margin ease 0.3s;
  width: $toggle-height;

  &.active {
    margin-left: calc(-#{$toggle-height} - 2px);
  }
}
